<% provide(:title, 'All users') %>
<div container>
  <h2>
    <table>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
      <% end %>
    </table>
  <h2>
</div>